<?xml version="1.0" encoding="utf-8"?>
<!-- Hébergement IIS : glping.exe est aussi la CLI, et sans argument il n'afficherait que l'aide.
     « serve » le fait démarrer en serveur ; la publication ne réécrit que processPath. -->
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath=".\glping.exe" arguments="serve" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
    </system.webServer>
  </location>
</configuration>
